<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secuso.privacyfriendlynotes">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TextNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_textnote"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChecklistNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_checklistnote"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ManageCategoriesActivity"
            android:label="@string/title_manage_categories"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RecycleActivity"
            android:label="@string/title_recycle_bin"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AudioNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_audionote"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SketchActivity"
            android:label="@string/title_sketchnote"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_settings"/>
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_help" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".MainActivity" />


        <service android:name=".NotificationService" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.secuso.privacyfriendlynotes"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>
    </application>

</manifest>