<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.secuso.privacyfriendlynotes">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="NotesApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.TextNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_textnote"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ChecklistNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_checklistnote"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ManageCategoriesActivity"
            android:label="@string/title_manage_categories"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.RecycleActivity"
            android:label="@string/title_recycle_bin"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.AudioNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_audionote"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.SketchActivity"
            android:label="@string/title_sketchnote"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.MainActivity"
            android:label="@string/title_settings"/>
        <activity
            android:name=".ui.HelpActivity"
            android:parentActivityName=".ui.MainActivity"
            android:label="@string/title_help" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".ui.MainActivity" />


        <service android:name=".service.NotificationService" />

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.secuso.privacyfriendlynotes"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>

        <service
            android:name=".backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>
    </application>

</manifest>