<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="NotesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.notes.TextNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_textnote"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.notes.ChecklistNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_checklistnote"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.manageCategories.ManageCategoriesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_manage_categories"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.RecycleActivity"
            android:label="@string/title_recycle_bin"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.notes.AudioNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_audionote"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.notes.SketchActivity"
            android:label="@string/title_sketchnote"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/title_help"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.TutorialActivity"
            android:label="@string/title_tutorial"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <service android:name=".service.NotificationService" />

        <receiver
            android:name=".receiver.NotificationEventsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.secuso.privacyfriendlynotes"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>

        <service
            android:name=".backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>
    </application>

</manifest>